#ifndef _SLIOT_SECRETS_HPP_
#define _SLIOT_SECRETS_HPP_

#include "sliot_core_config.hpp"

/* WiFi Secrets */
#define SLIOT_WIFI_DEFAULT_SSID     "ssid"
#define SLIOT_WIFI_DEFAULT_PASSWORD "password"

/* MQTT Server Secrets */
#define SLIOT_MQTT_DEFAULT_HOST       "hostname"
#define SLIOT_MQTT_DEFAULT_USER       "user"
#define SLIOT_MQTT_DEFAULT_PASSWORD   "password"

#endif _SLIOT_SECRETS_HPP_